In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve, auc
from math import isnan

data = pd.read_csv('../../data/gold_clean.csv')
data = data.rename(columns = {'ts': 'unixtime'})
data['ts'] = pd.to_datetime(data.unixtime)
data = data[(data.ts >= '2018-02-10') & (data.ts <= '2018-02-22')]

print(f'len(data) = {len(data)}')
data.head()

len(data) = 10792

,unixtime,open,high,low,close,vol,ts
39280,1518220800000000000,1316.7,1317.1,1316.7,1317.0,259,2018-02-10 00:00:00
39281,1518220860000000000,1317.0,1317.0,1316.6,1316.7,103,2018-02-10 00:01:00
39282,1518220920000000000,1316.8,1317.1,1316.7,1317.1,139,2018-02-10 00:02:00
39283,1518220980000000000,1317.0,1317.6,1317.0,1317.5,198,2018-02-10 00:03:00
39284,1518221040000000000,1317.6,1318.3,1317.6,1318.1,218,2018-02-10 00:04:00

In [9]:
splitCoef = 0.6

features = data.copy()

## линейное разбиение 
features_train, features_test = np.split(features, [int(splitCoef*len(features))])
## разбиение случайным образом
# features_train, features_test = train_test_split(features, test_size=1-splitCoef, random_state=43)

print(f'train start: {features_train.ts.iloc[0]}')
print(f'train end:   {features_train.ts.iloc[-1]}')
print(f'test start:  {features_test.ts.iloc[0]}')
print(f'test end:    {features_test.ts.iloc[-1]}')

print(features_test.vol.iloc[0])

train start: 2018-02-10 00:00:00
train end:   2018-02-16 17:00:00
test start:  2018-02-16 17:01:00
test end:    2018-02-22 00:00:00
934

/Users/victor/miniconda3/envs/env1/lib/python3.11/site-packages/numpy/core/fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [12]:
features = data.copy()
f1, f2, f3, f4, f5 = np.array_split(features, 5)

print(f3.vol.iloc[-1])

934

In [33]:
#problem 8.23.3 not solved
from sklearn.model_selection import TimeSeriesSplit

features = data.copy()
tscv = TimeSeriesSplit(n_splits=10, max_train_size=3, test_size=1)
for i, (train_index, test_index) in enumerate(tscv.split(features)):
    print(f"Fold {i}:")
    #print(f"  Train: index={train_index}")
    print(f"  Test:  index={test_index}")


print(features[10782:10783].iloc[-1])

Fold 0:
  Test:  index=[10782]
Fold 1:
  Test:  index=[10783]
Fold 2:
  Test:  index=[10784]
Fold 3:
  Test:  index=[10785]
Fold 4:
  Test:  index=[10786]
Fold 5:
  Test:  index=[10787]
Fold 6:
  Test:  index=[10788]
Fold 7:
  Test:  index=[10789]
Fold 8:
  Test:  index=[10790]
Fold 9:
  Test:  index=[10791]
unixtime    1519257060000000000
open                     1326.2
high                     1326.5
low                      1326.2
close                    1326.2
vol                         100
ts          2018-02-21 23:51:00
Name: 50062, dtype: object